main {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}

#data-input{
    border-style: solid;
}

#data-output{
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#headline-display{
    border: 3px solid;
    flex-direction: column;
    margin: 10px;
}

#display{
    flex-direction: column;
    margin: 10px;
}